/data/FEVER/processed
/data/FEVER/raw
/data/Wikipedia/data
/data/Wikipedia/logs
/data/Wikipedia/license.html
/data/Wikipedia/wiki-pages
/google
/MoritzLaurer
/bert-base-uncased
/outputs
/model
/facebook
/src
/1.py
/2.py
/data/Wikipedia/dpr/weights
/data/Wikipedia/dpr/outputs
/data/Wikipedia/dpr/data